[2015-02-27 23:27] stephens999 opened #1 "warnings when compiling"
MixSquarem.cpp:55:12: warning: unused variable 'kr' [-Wunused-variable]
    double kr=control["kr"];
           ^
MixSquarem.cpp:66:20: warning: unused variable 'leval' [-Wunused-variable]
    int iter,feval,leval;
                   ^
MixSquarem.cpp:212:9: warning: unused variable 'n' [-Wunused-variable]
    int n=matrix_lik.nrow(), k=matrix_lik.ncol(),niter;

[2015-03-01 22:56] daichaoxing commented on #1
redundant variables removed.

[2015-03-04 19:41] #1 closed

[2015-03-05 15:06] stephens999 opened #4 "issue with new wrapper ashn"
in ashn, why is the default
 alpha = seq(from = -abs(mean(betahat)), to = 2 * abs(mean(betahat))
seems like maybe should be
 alpha = seq(from = -2*abs(mean(betahat)), to = 2 * abs(mean(betahat))

also in help
 alpha and then consider the model betahat_j ~ g()
should be betahat_j-mu \sim g() ??

and finally would be more readable if we replace alpha with mu in help and function

[2015-03-06 04:55] daichaoxing commented on #4
Assume the sample mean is mu1>0, initially I was thinking about considering the actual mu lies in between [0,mu1], then I think I would better expand the interval a little bit, so it becomes [-mu1,2*mu1], and I forgot  the assumption since that point. The approximation seems rather coarse here, would you think that  mean(betahat )+-3*sd(betahat), then add 0 as an default option be better?

[2015-03-06 05:13] daichaoxing commented on #4
mutemp=seq(from=(mean(betahat)-3*sd(betahat)/sqrt(length(betahat))),to=(mean(betahat)+3*sd(betahat)/sqrt(length(betahat))),length=mu)
mu=c(0,mutemp)#include the default 0 mode for comparison

The above implementation should work better in practice.

[2015-04-14 01:53] mengyin opened #5 "Warnings when using ash(..., df=..., ...)?"
There are such warnings when using the "df=..." option of function ash().

Warning messages:
1: In if (a == b) { :
  the condition has length > 1 and only the first element will be used
2: In if (a == b) { :
  the condition has length > 1 and only the first element will be used
3: In if (a == b) { :
  the condition has length > 1 and only the first element will be used

[2015-04-14 03:13] stephens999 commented on #5
I think i fixed this now. please let me know if you see unexpected behaviour

[2015-04-14 03:18] #5 closed

[2015-05-08 14:06] zrxing opened #6 "Dealing with infinity values in standard errors"
seems like in certain (maybe very rare) applications some SEs are inifnite, which would result in a breakdown of the squarem algorithm. Simple solution is to just ignore these cases in ash, as with NA values.

[2015-05-08 18:45] stephens999 commented on #6
fixed

[2015-05-08 18:45] #6 closed

[2015-07-15 15:06] rfluss opened #7 "installing package ashr"
Hello,
I tried installing the package as shown in the ReadMe
library(devtools)
install_github("stephens999/ashr")
But it fails to install it.
can you please help me?
Thank you
Ronen

[2015-07-15 23:37] stephens999 commented on #7
Can you give more details. Eg Sessioninfo and errors you get

[2015-07-15 23:37] stephens999 commented on #7
Do you have a working c++ compiler on your system?

[2015-07-16 04:54] rfluss commented on #7
Thank you for responding,
I dont have a c++ compiler.
I will send the output I get this evening.

Ronen

[2015-07-16 14:43] stephens999 commented on #7
the easiest way to proceed would be to find a machine with a working c++ compiler installed. eg linux (or possibly mac). I don't use windows, so I'm not really sure what the best way to proceed is there,
but it is possible that installing Rtools (which apparently includes a c++ compiler) would be the easiest way to go. Here's a link:
https://github.com/stan-dev/rstan/wiki/Install-Rtools-for-Window

[2015-07-16 17:49] rfluss commented on #7
Thank you!!
I think it managed to install it now

Ronen

[2015-08-04 10:28] rfluss commented on #7
Dear  prof stephens,
I tried the simulation you bring in your paper on github.
but the results I get are very different.

The model seems very simple so I dont understand why.
can you have a short look to see if i am mistaken?

Thank you!

attaching my program

The creation of data is only:

n0=     200
n1=     200
beta =  c(rep(0,n0),rnorm(n1))   # H0: b=0, H1:b~N(0,1)
sei =   rep(c(1,10,1,10),c(

[2015-08-11 13:55] stephens999 commented on #7
i'm on vacation right now. but i took a quick look at your simulation.
but i didn't see any results. so i wondered what you meant by "the results
are very different".

is there a particular figure you are trying to recreate?

Matthew

On Tue, Aug 4, 2015 at 12:28 PM, rfluss <notifications@github.com> wrote:

[2015-08-11 18:00] rfluss commented on #7
Thank you!
Sorry for disturbing your vacation.
I am attaching the explanation of simulation with the results
I think its the scenario you described in your paper.
when you finish your vacation I hope you can have a look

thanks again
Ronen

On Tue, Aug 11, 2015 at 4:55 PM, stephens999 <notifications@github.com>
wrote:

[2015-09-02 22:01] stephens999 commented on #7
I don't see any attachment...

[2015-09-29 15:16] stephens999 opened #8 "check that not prior <1"
prior values <1 can give infinite penalty, so should be avoided. we should probably enforce this for the user.

[2015-10-13 14:33] stephens999 opened #9 "when g is specified, probably want to default to uniform prior, not null-biased!"
generally, the code here is rather messy: need to think a little about all the combinations of specifications that might want to be used, and what sensible behaviour is

[2015-11-16 14:53] stephens999 opened #10 "VB initialization"
the VB (non-default) initialization appears not to work - throws an error when I try to use pi.init.
OK when I use pi.init=NULL (which sets pi.init to be all 1s) but not clear why other values don't work.

[2016-01-16 20:24] stephens999 opened #11 "call returned incorrect"
if you call ash.workhorse via ash (as usual) then the call returned is the call to ash.workhorse not to ash.

[2016-01-17 21:08] #11 closed

[2016-01-17 21:09] stephens999 opened #12 "ashci should be stand-alone rather than based on ash object"
currently pass in ash object, but really would be neater to make this entirely standalone so that can compute for any b,s given prior g

[2016-02-28 03:58] dajiangliu opened #13 "ash does not return the right set of returns?"
Dear Dr. Stephens,

I tried with great interest the ashr package. I did not install REBayes package, yet only got a warning.

But when I follow the example of the ash function, I only got the following. The values of interest were not returned. Is there anything that I missed here? Is REBayes a requirement for the correct returns? Thank you very much!

Due to absence of package REBayes, switching

[2016-02-28 16:56] stephens999 commented on #13
They are there. Try
 'names(beta.ash)'
'beta ash$lfsr'
Etc

[2016-02-28 16:56] #13 closed

[2016-02-28 17:45] dajiangliu commented on #13
Got it, thank you! Did not realize that typing beta.ash does not display everything in the list.

From: stephens999 [mailto:notifications@github.com]
Sent: Monday, February 29, 2016 12:57 AM
To: stephens999/ashr <ashr@noreply.github.com>
Cc: dajiangliu <dajiang.liu@outlook.com>
Subject: Re: [ashr] ash does not return the right set of returns? (#13)

They are there. Try
'names(beta.ash)'
'beta ash$

[2016-02-28 20:11] pimentel commented on #13
@dajiangliu, FYI, `str(beta.ash)` will give you a detailed description of the object (including nesting of lists)

[2016-02-29 14:36] dajiangliu commented on #13
Thank you!

All the best,
Dajiang
--
Assistant Professor
Dept. Public Health Sciences
Institute of Personalized Medicine
Penn State College of Medicine, HCAR 2020
Email: dajiang.liu@outlook.com
URL: https://dajiangliu.wordpress.com
Tel: +1-717-531-4178

Date: Sun, 28 Feb 2016 12:11:34 -0800
From: notifications@github.com
To: ashr@noreply.github.com
CC: dajiang.liu@outlook.com
Subject: Re: [ashr] a

[2016-04-02 13:41] stephens999 opened #16 "numerical instability in computation of comppostprob for very outlying observations"
[,1]
[1,]    1
[2,]    0

     [,1]
[1,]  NaN
[2,]  NaN

[2016-04-08 15:00] dcgerard opened #17 "Interior point method sometimes fails when given small variances and uniform mixcompdist."
Example dataset:
[code]

EM works fine:
[code]

[2016-04-09 15:51] stephens999 commented on #17
I've tracked this down further - the values are coming back from REBayes::KWDual.
Here is the simplest version I found. I emailed the REBayes maintainer to see if he
has insights.

 B=cbind(c(0,2e-9),c(.7,1))
REBayes::KWDual(B,rep(1,2),rep(1/2,2),control=list(verb=5))
$f
[1] -0.07218236  1.05345169

$g
[1] 0.7374162 1.0534517

$status
[1] "OPTIMAL"

[2016-04-10 14:27] stephens999 commented on #17
Roger Koenker responded: On your example, I would simply say that as in other optimization
settings one has to be careful about convergence tolerances, especially
when setting them to be greater than the resolution of the underlying
data.  When I do:

REBayes::KWDual(B,rep(1,2),rep(1/2,2),verb=5, rtol = 1e-10)

I get:

$f
[1] 6.074053e-07 9.999972e-01

$g
[1] 0.6999980 0.9999972

$status
[1] “OPTI

[2016-04-19 23:29] stephens999 commented on #17
addressed by ebe06a5

[2016-04-19 23:29] #17 closed

[2016-04-19 23:31] stephens999 commented on #16
addressed by 32d12100b7001e10681786e338560aee692482a1

[2016-04-19 23:31] #16 closed

[2016-04-20 01:09] stephens999 opened #19 "ash fails when optmethod==mixIP but REBayes not installed"
this was deliberate, but is causign some unit tests to fail.
Possibly better to issue a warning in this case and default to EM?

[2016-04-20 01:56] road2stat commented on #19
I guess they both make sense. The only difference is the balance of logical and "user-friendliness". The former is more logical and less friendly, the other is more friendly but not so logical (although a warning is given).

I justed noticed that the test itself is aimed at testing if `optmethod` switches to EM when given negative probabilities. That is hard to test on Travis since it has no REBay

[2016-04-20 02:03] stephens999 commented on #19
good idea. I have tried this.

[2016-04-20 02:10] stephens999 commented on #19
fixed by 8e4595e

[2016-04-20 02:10] #19 closed

[2016-04-20 15:51] #8 closed

[2016-04-20 15:52] #7 closed

[2016-05-04 05:51] mengyin opened #20 "PosteriorMean can be infinity?"
When I tried ash with "df=..." option on this example (data here: https://www.dropbox.com/s/d2n9lxzxtir95nh/eg.Rdata?dl=0),  the "PosteriorMean" in ash object included a few infinities. The corresponding betahat's were indeed quite large (compared to the other betahat's, yet the absolute values were no more than 2), but I guess it's still weird that their posterior means are infinities.

[1] 3

If

[2016-05-04 22:51] stephens999 commented on #20
I get warnings: Warning messages:
1: In genhypergeo_series(U, L, z, tol = tol, maxiter = maxiter, check_mod = check_mod,  :
  series not converged
2: In genhypergeo_series(U, L, z, tol = tol, maxiter = maxiter, check_mod = check_mod,  :
  series not converged
3: In GCF(a = -alpha, b = 1 + alpha, tol = tol) :
  Continued fraction not converged
4: In sqrt(postmean2(m, betahat, sebetahat, v) - postme

[2016-05-09 18:56] mengyin commented on #20
It seems fixed by https://github.com/stephens999/ashr/commit/d86031e670c9e470de194691c5ee972ae0929c88

[2016-05-09 18:56] #20 closed

[2016-05-23 20:20] dcgerard opened #22 "Lots of warnings from `my_e2trunct`."
I am getting a lot of warnings when I use the t-likelihood in ash with small df. I think the warnings come from `my_e2trunct`. It's already noted that it is unstable for df of 1 or 2, but in the dataset below it seems to be unstable for df of 6.

Example dataset:
[code]

[2016-05-23 20:59] jhmarcus opened #23 "Negative PositiveProb Values Returned"
## Data
[pgc_scz.sumstat.gz](https://github.com/stephens999/ashr/files/278248/pgc_scz.sumstat.gz)

## Code

[code]

[2016-05-24 02:33] stephens999 commented on #22
not sure what to do about this.. it is problem with hypergeo
 v=6; n=2; hypergeo::hypergeo((1+v)/2,(1+n)/2,(3+n)/2,-2.43^2/v)

this causes errors for me. But replace 2.43 with 2.4 or 2.45 and it is ok...

[2016-05-24 02:40] stephens999 commented on #22
however, despite the warnings, the hypergeo computation does work ok:

Warning in genhypergeo_series(U, L, z, tol = tol, maxiter = maxiter, check_mod = check_mod,  :
  series not converged
Warning in GCF(a = -alpha, b = 1 + alpha, tol = tol) :
  Continued fraction not converged
[1] 0.2513164+0i

(this is reassuringly close to what is returned without warnings for 2.4 instead of 2.43)

according to

[2016-05-24 02:41] stephens999 commented on #23
how do you put the data in the issue like that? very cool.

[2016-05-24 02:55] #23 closed

[2016-07-04 05:34] stephens999 opened #26 "general ash"
@mengyin can you take a look at the code I've got in my general branch?
I think it incorporates much, but not yet all, of what you had in your branch, but without all the repetition.
It seems to run OK.
There are still some things to do, but thought it would be useful for you to look and
see if, for example, the results for logF errors look similar to yours.
(note that for now I think df1 and df2

[2016-07-06 00:14] mengyin commented on #26
Yes the general branch's results look very similar to my old results!
Anyway in my current simulations df1 and df2 are always the same for all observations, so it is definitely fine...

[2016-07-06 01:52] stephens999 commented on #26
that's good. A few things to resolve:
- you wrote a replacement to my "gradient" function that seems to be a fix to a divide by zero problem.
I guess you got some errors that caused this problem, and we could just replace my function with yours?
- still need to deal with the autoselect issue, and work out how to let the user specify a way to select a grid that depends on the likelihood. Maybe the

[2016-07-06 03:04] mengyin commented on #26
1. Yes I got errors sometimes with the old "gradient" function, replacing it by my new gradient function fixed the problem divide by zero and doesn't affect results in general.
2. For the autoselect function, my first thought was choosing the grid based on the shape of error distribution...but computing the distribution's moments itself can be non-trivial (numerical integration is unstable). Anywa

[2016-07-06 12:19] stephens999 commented on #26
for autoselect, maybe we could use the cdf instead of the moments? I only used moments in the normal case as a shorthand for making sure the grid spanned "plausible" values.

[2016-07-07 00:13] mengyin commented on #26
I see..say, use the values where the cdf is almost 1 (or 0) to decide the "plausible" range?

[2016-07-17 02:22] stephens999 opened #27 "optmethod returned incorrectly if switch is done due to negative values"
very occasionally mixIP returns negative estimates for pi.
Then we switch to optimization by EM.
But in that case the returned ashobject $optmethod is still mixIP.

I've made it so in future the fit object will also return optmethod, and that will be correct.
Do we also need optmethod in the ash object? (the fit object is only returned if outputlevel =4,
so not by default)

[2016-07-22 20:09] simingz opened #28 "Give warnings for "list" formatted input data"

[2016-07-22 21:54] stephens999 commented on #28
i added a test for whether beta is numeric to the general branch. Will consider this fixed when general is merged into master

[2016-07-22 21:54] stephens999 opened #29 "nonzeromode in general branch"
need to fix this option in the general branch before merging into master

[2016-07-22 21:55] stephens999 opened #30 "CIs in general branch"
this option is broken by the changes in the general branch. Again, needs fixing before merging into master. need to add some basic tests for this option too.

[2016-07-22 22:03] stephens999 opened #31 "document new output options in general branch"
also the format is rather unfriendly right now - need to work on this.
For example:
ash(rnorm(100),1,outputlevel=list(resfns = c(ashr:::output_pm)))$res

maybe we need an exported function that creates the output resfns?

[2016-07-22 22:03] stephens999 opened #32 "document new output options in general branch"
also the format is rather unfriendly right now - need to work on this.
For example:
ash(rnorm(100),1,outputlevel=list(resfns = c(ashr:::output_pm)))$res

maybe we need an exported function that creates the output resfns?

[2016-07-24 22:22] stephens999 commented on #31
Fixed by recent commit

[2016-07-24 22:22] #31 closed

[2016-07-25 05:36] stephens999 opened #33 "numerical issue in comp_cdf_post.unimix in general branch"
eg try:

[1] 0.5

[1] 1

they should both be approximately 1.

The problem is exponentiating too early...

[2016-09-14 22:23] NKweiwang opened #35 "+uniform option: posteriormean issue"
betahat = rnorm(100,0,0.5)
sebeta = 0.6
test.ash = ash(betahat = betahat,sebetahat = sebeta, mixcompdist = "+uniform")
test.ash$fitted.g
plot(test.ash$PosteriorMean)

fitted.g provide right result we want, but the posteriormean has tiny non zero and negative values.

[2016-09-14 22:28] stephens999 commented on #35
you should include a set.seed command ...

On Wed, Sep 14, 2016 at 5:23 PM, NKweiwang <notifications@github.com> wrote:

[2016-09-23 17:01] dcgerard opened #36 "Request to Export Functions"
I use the following functions in my [vicar](https://github.com/dcgerard/vicar) package:

`calc_lfdr`, `calc_lfsr`, `calc_np`, `calc_pm`, `calc_pp`, `calc_psd`, `calc_qvalue`, `calc_svalue`, and `estimate_mixprop`.

Since these functions aren't exported in ashr (the general branch), my CRAN checks throw me a note. Could you export these functions? It's not a big deal if you prefer not to, though, a

[2016-09-23 21:29] dcgerard commented on #36
I just saw the `fixg` option in `ashr.workhose`, so all I really need is for `estimate_mixprop` to be exported.

[2016-09-24 14:51] stephens999 commented on #36
i just pushed a change that now exports estimate_mixprop (general branch)

On Fri, Sep 23, 2016 at 4:29 PM, David Gerard <notifications@github.com>
wrote:

[2016-09-24 14:51] #36 closed

[2016-09-28 15:02] #33 closed

[2016-09-28 15:04] #28 closed

[2016-09-30 01:38] stephens999 commented on #30
i merged this, but the CI interface may still benefit from changes.
eg should have a single function to compute the posterior alpha quantile? THen run this twice to find lower and upper posterior quantiles.
And may just add it to the results dataframe rather than output as separate object
and maybe by default do everything rather than just the significant findings?

[2016-09-30 01:39] stephens999 commented on #29
I think this is done by mode option.
might need further testing.

[2016-10-06 01:28] stephens999 opened #39 "Skipifnotinstalled"
Should use this functionality in tests instead of checking with require

[2016-10-07 02:26] #39 closed

[2016-10-14 19:13] pcarbo opened #41 "IP optimization error from ashr "general" branch"
Without the `REBayes` package, `ash` runs successfully (see `ash/analysis/adaptive_shrinkage.Rmd`):

[code]

However, when I install the `REBayes` package, I get the following error:

[code]

The error appears to be cropping up in a call to the `KWDual` function in the `REBayes` package. Has anyone gotten this error before? Any ideas why this may be occurring?

Note I get the same error in the "ma

[2016-10-14 23:29] stephens999 commented on #41
i was not able to reproduce this, although I do think i may recall having seen this error in the past.

[2016-10-14 23:33] stephens999 commented on #41
can you try:
set.seed(102)
  y <- c(rep(0,800), rnorm(200, 2)) + rnorm(1000)
  z <- REBayes::GLmix(y)

[2016-10-14 23:42] stephens999 commented on #41
for future, recording Peter's response here:
pcarbo [12:36 AM]
I just tried the code above (`set.seed(102) ...`) and I got the same error:
`Error in t(A) %*% (f * d) : non-conformable arguments`

.. so problem is in REBayes

[2016-10-17 21:30] pcarbo commented on #41
With a clear mind, the solution turned out to be straightforward: I was missing the MOSEK license file (confusingly license.pdf is not the license!).

[2016-10-22 22:14] stephens999 opened #43 "diagnostic plot"
would be good to produce a diagnostic plot.
For each element betahat_j compute where it falls (ie its quantile) in its predictive distribution
p( betahat_j | ghat, s_j)

If the model fits well this should be uniform, so do a qq-plot against uniform quantiles.

This may help diagnose dependence among tests

[2016-11-03 05:05] stephens999 opened #45 "ashCI doesn't work when df varies across observations"
this might be useful to have...

[2016-11-12 16:29] stephens999 opened #46 "bug with modify.sd0"
@MuzheZeng try this
set.seed(100)
z = rnorm(1000,0,2)
ashr::ash(z1,1,"uniform",gridmult=1.1)

I get

Error in temp[sdzero] = ifelse(A[sdzero] <= M[sdzero] & B[sdzero] >= M[sdzero],  :
  NAs are not allowed in subscripted assignments

[2016-11-12 17:09] MuzheZeng commented on #46
I encounter this before. Now my newest update shows no error in this example. Shall pull request my newest update?--------------------
Muzhe Zeng
University of Chicago, Master of Statistics
Peking University in School of Mathematics(Bachelor)
Double major in Economics, CCER Club(Bachelor)
            在2016年11月12日 10:29，stephens999 写道:@MuzheZeng try this
set.seed(100)
z = rnorm(1000,0,2)
ashr::ash(

[2016-11-14 21:56] stephens999 commented on #46
@MuzheZeng i no longer get an error, but I would like to: a) have a unit test; b) be clear about what the behaviour of the function should be for matrix/vector combinations; c) improve the code if possible.
It seems a) and b) can be done together, as the unit test will help clarify the behaviour.
For example, what should this return:

a=c(0,0)
b=c(1,2)
m = rbind(c(0,2,4),c(0,0,0))
sd = 0
ashr::my_

[2016-11-14 21:58] stephens999 commented on #41
i'd like to reopen this as it comes up so often: we should have a try() around the REBayes call, and point the user to this issue if it fails.

[2016-11-14 22:45] pcarbo commented on #41
Good idea.

[2016-11-15 00:21] MuzheZeng commented on #46
sure--------------------
Muzhe Zeng
University of Chicago, Master of Statistics
Peking University in School of Mathematics(Bachelor)
Double major in Economics, CCER Club(Bachelor)
            在2016年11月14日 15:56，stephens999 写道:@MuzheZeng i no longer get an error, but I would like to: a) have a unit test; b) be clear about what the behaviour of the function should be for matrix/vector combinations;

[2016-11-15 06:12] MuzheZeng commented on #46
Professor, my_etruncnorm need to be modified a little bit again for your specific example. Since I did not consider mean being matrix while sd is just a scalar. I've made the change already.

However, I encounter some problem when I try to git push after commit. It said

remote: Permission to stephens999/ashr.git denied to MuzheZeng.

fatal: unable to access 'https://github.com/stephens999/ashr.gi

[2016-11-15 14:00] stephens999 commented on #46
the issue is you are working on a clone of my repo, so you can't push it because you don't have push access to my repo (your cloned repo is linked to my github repo).

If you had forked my repo instead, that would have created a copy of the repo that was yours, and that you could push to, and then create pull requests of.

It is a common problem I think - and annoying that it isn't entirely obviou

[2016-11-15 14:12] pcarbo commented on #46
Matthew, branches were designed specifically for the purpose of collaboration, so why don't you work with branches instead of forks?

For example, you could add MuzheZeng as a collaborator, then create a new branch called "muzhe-zeng". If you are worried about collaborators pushing changes to the master branch (which can happen accidentally), you can protect certain branches such as the master bra

[2016-11-15 15:19] stephens999 commented on #46
thanks @pcarbo that would be great

and yes, I think it would be good idea to protect the master branch

[2016-11-15 15:20] stephens999 commented on #46
@MuzheZeng one of the things you do is make all the arguments the same length.
here is how we should probably do this
(from http://stackoverflow.com/questions/9335099/implementation-of-standard-recycling-rules)

expand_args <- function(...){
  dots <- list(...)
  max_length <- max(sapply(dots, length))
  lapply(dots, rep, length.out = max_length)
}

[2016-12-06 00:12] dcgerard opened #48 "Problems with small sebetahat"
Description
===========

I seem to be getting new errors when the standard deviations are small. However, they aren't really all *that* small.

Example Data and Error
======================

[code]

    ## Warning in min(f): no non-missing arguments to min; returning Inf

    ## Error in t(A) %*% (f * d): non-conformable arguments

Error goes away for much larger sd

[code]

Generally, problem see

[2016-12-06 00:16] stephens999 commented on #48
Not sure but that error you are seeing is associated with out of date mosek licence. It lasts one year and you have to renew. Any chance that is it? (Not sure why it would not happen sometimes though...)

[2016-12-06 00:17] stephens999 commented on #48
See #41

[2016-12-06 00:24] dcgerard commented on #48
That seems to be it, when I set `optmethod = "mixEM"` it works fine.

I think it "works" for larger standard errors because ash first checks at the all-null setting then doesn't run Mosek if the all-null setting is optimal.

[code]

    ## $pi
    ##  [1] 5.567e-01 3.937e-11 3.935e-11 3.930e-11 3.920e-11 3.901e-11 3.863e-11
    ##  [8] 3.786e-11 3.631e-11 3.316e-11 2.675e-11 1.429e-11 0.000e+00 1.

[2016-12-20 16:53] pcarbo opened #49 "CRAN to-do items"
1. Create tag for v2.0.5 on cran branch.

2. Merge cran branch into master.

[2017-01-02 21:47] stephens999 commented on #49
@pcarbo is this done? can be closed?

[2017-01-02 21:47] #48 closed

[2017-01-02 21:52] stephens999 commented on #46
I think this is mostly addressed by b092794ebe6f29abdfffc130e7dbdd94dddbfb66

[2017-01-02 21:52] #46 closed

[2017-01-02 23:11] pcarbo commented on #49
I'm working on item #2 right now.

[2017-01-02 23:25] #49 closed

[2017-01-20 03:44] pcarbo opened #51 "rename likelihood functions"
we should rename all the likelihoods `lik_xxx` instead of `xxx_lik`. This would allow a user to easily see all the likelihoods available by typing `lik_` and tab to complete.

[2017-01-23 16:56] pcarbo commented on #51
I'm going to leave this issue open for now; addressing this Issue will break a lot of people's code, so it is perhaps better to address this issue in a separate branch and combine with other improvements to the ashr interface (e.g., branch `interface-improvements`).

[2017-01-23 17:37] stephens999 commented on #51
it would be worth knowing who has used this option (as we have not
really documented it - eg with a vignette)
Maybe me and mengyin are the only ones?

matthew

On Mon, Jan 23, 2017 at 10:56 AM, Peter Carbonetto <notifications@github.com

[2017-01-23 21:59] pcarbo opened #52 "Add vignette on computation with general likelihoods"
[ashgen.Rmd.gz](https://github.com/stephens999/ashr/files/725062/ashgen.Rmd.gz)

Thanks to Mengyin.

[2017-01-25 16:39] pcarbo opened #53 "Mosek documentation updates"
+ [x] Fix links to the Mac-specific and Linux-specific instructions for installing mosek and rmosek.
+ [ ] Post warning about expiry of mosek license (it is only valid for 1 year).

[2017-02-13 21:56] pcarbo opened #55 "KWDual outputs a negative mixture weight"
Here is the example that produces a negative mixture weight with `optmethod = mixIP` only:

[code]

The *ad hoc* solution right now is to set all negative mixture weights to 0 (or a small value near 0), and re-normalize the mixture weights. It would be good to come up with a better solution at some point.

Thanks to Wei for identifying this issue.

[2017-03-04 02:16] mengyin opened #57 "dens() function gives NaNs when unimix object includes pointmass"
For example:

will output NaN.

I think the reason is that in function comp_dens.unimix(), dunif(d, m$a, m$b, log) produces NaNs when m$a==m$b.

[2017-03-09 19:27] pcarbo commented on #51
I will make this change as soon as Mengyin completes her pull request. It affects about 100 lines of code so should be fairly easy to fix.

[2017-03-15 22:17] pcarbo commented on #51
See release v2.1-7.

[2017-03-15 22:17] #51 closed

[2017-04-01 14:13] stephens999 opened #59 "speeding output computation for big problems"
the current computation of output is nice and modular, but also much slower
than it needs to be. Possible speeds ups would involve rearranging so that

i) we only compute the posterior component probabilities W once (an n by K matrix)
ii) then we compute the posterior quantities we want P (eg lfsr etc) for each component [each an n by K matrix]
iii) then we compile them by rowsums(W*P)

Also, in t

[2017-04-19 15:13] LSun commented on #43
Some discussion on diagnostic plots.
https://lsun.github.io/truncash/diagnostic_plot.html
https://lsun.github.io/truncash/diagnostic_correlated_z.html

[2017-04-21 21:00] LSun commented on #43
created a pull request for diagnostic plot with normal likelihood + normal prior mixture

[2017-04-25 22:08] pcarbo commented on #43
Lei, I very much like your diagnostic plot.

Matthew & Lei, I'd like to suggest a slightly different approach to creating this plot, and other plots for the `ashr` package, using `ggplot2`. The main advantages are:

+ It is more natural for implementing functions that create plots.

+ By having `plot_diagnostic` return a `ggplot` object, this gives you much greater flexibility to customize and bui

[2017-05-01 16:10] stephens999 commented on #53
can i bump this @pcarbo

do you think we can check for license?
and post link to somethign like
https://github.com/stephens999/ashr/blob/master/inst/rmosek-mac.md
if it doesn't exist?

[2017-05-02 15:26] pcarbo commented on #53
An initial check that MOSEK is working has been implemented before running `REBayes:KWDual`.

[2017-05-03 20:21] mengyin opened #62 "speed up the mode estimation procedure?"
The mode estimation procedure might be too slow especially when we need search the optimal mode in a big range. E.g. in Joyce's Poisson count (singlecell data) application, the counts range is (0,900) so it takes pretty long time to estimate the mode.

We guess one possible way to fix the issue is to start search with a better starting point? However, current ashn() uses stats::optimize function,

[2017-05-04 14:42] stephens999 commented on #52
@mengyin I think it would be good to simplify the use of the general likelihoods
by setting betahat=0 and betahatsd=1 for the user when using likelihoods that require
that.

In fact, maybe that should be the default: if a likelihood is specified
and not a t or normal likelihood, and
betahat and bhatsd are missing, set betahat=0 and the sd=1.

So for example
`ash(rep(0, length(y)), 1, lik = lik_poi

[2017-05-04 14:43] stephens999 opened #63 "default prior for general likelihoods"
@mengyin for general likelihoods does it make sense to have the "null-biased" prior as
default? Might be better to make it uniform? What is your experience?

[2017-05-06 17:12] mengyin commented on #52
I agree! Having betahat/sebetahat for the general likelihoods indeed looks confusing. It will be much more clear if we can just avoid them.

[2017-05-10 17:26] stephens999 opened #65 "posterior median"
would be nice to implement something to compute posterior medians

[2017-05-12 20:42] pcarbo opened #66 "Update document for MOSEK v8"
Thanks to @LSun for pointing out this update.

[2017-05-19 21:26] stephens999 opened #68 "problems with poisson likelihood and mode=0"
@mengyin i get an error with this:
set.seed(100)
l = rexp(1)
x = rpois(100,lambd=l)
ashr::ash(rep(0,100),1,lik=ashr::lik_pois(x))
ashr::ash(rep(0,100),1,lik=ashr::lik_pois(x),mode=0)

[2017-05-19 22:47] mengyin commented on #68
Thanks for the example! I just sent a pull request to fix this issue.

[2017-05-20 19:52] #68 closed

[2017-05-24 19:48] jhsiao999 opened #70 "poisson likelihood with different priors"
@mengyin I got errors with these two cases:

Case 1:
set.seed(100)
l = rexp(1)
x = rpois(100,lambd=l)
ashr::ash(rep(0,100),1,lik=ashr::lik_pois(x), mode=0, prior = "+uniform")

Case 2:
set.seed(100)
l = rexp(1)
x = rpois(100,lambd=l)
ashr::ash(rep(0,100),1,lik=ashr::lik_pois(x), mode= "estimate", prior = "halfuniform")

Both returned the error message: "Error in match.arg(prior) : 'arg' should be

[2017-05-24 20:02] mengyin commented on #70
I think the argument corresponding to "+uniform" or "halfuniform" should be "mixcompdist=..." instead of "prior=..."

This is indeed confusing. The argument "prior" actually means if we add more weight on the mode's point mass component ("nullbiased") or treat all components equally ("uniform"). Sorry for the confusion!

[2017-05-24 20:14] jhsiao999 commented on #70
Ah I see. It works now!

I think this had also confused me in the past before. On top of that, I was looking at the ash help file where the prior input is not described. However, ash.workhorse describes both prior and mixcomdist. Thanks so much @mengyin!

[2017-05-24 20:24] pcarbo commented on #70
@jhsiao999 Would it help to revise the documentation for `ash` and `ash.workhorse` to make this more clear for others? Or was it just that you didn't look in the right place?

[2017-05-24 20:30] jhsiao999 commented on #70
@pcarbo I think the documentation for `ash` needs more details. Now it only describes four of the many arguments available in `ash`. In addition, what is the main difference between `ash` and `ash.workhorse`? Maybe add that in the beginning of each of their descriptions, so it would be immediately obvious to the uses (or maybe I wasn't looking at the right place?)

[2017-05-24 20:32] jhsiao999 commented on #70
@mengyin I got this error message while running the mode = 0 and mixcomdist = +uniform option. Do I need to tune the parameters accordingly?

"consider reducing rtolestimated mixing distribution has some negative values:"

[2017-05-24 20:33] pcarbo commented on #70
@jhsiao999 I'm not entirely sure the difference---I suspect there is a historical reason for having two functions, but I agree it is confusing.

At the very least, we can combine the two help pages for `ash` and `ash.workhorse`.

@stephens999 What do you think, is this a good idea?

[2017-05-24 20:36] mengyin commented on #70
@jhsiao999 Could you send me your data so I can check it and debug? Thanks!

[2017-05-24 20:40] pcarbo commented on #70
@jhsiao999 If the data aren't large you can also attach it to a Comment here.

[2017-05-24 20:49] jhsiao999 commented on #70
@mengyin Here's the data.

[countsPoissonDebug.txt](https://github.com/stephens999/ashr/files/1027212/countsPoissonDebug.txt)

The code I used:
ash(rep(0, length(y)), 1, lik = lik_pois(y),
                       mixcompdist = "+uniform", mode = 0)

[2017-05-24 22:50] stephens999 commented on #70
ash and ash.workhorse are the same -
only difference is how many options are documented.

i just thought there were too many options for your average user
for what is essentially a simple function. So only the simple options
are documented in ash. To see all the options you have to
look at ash.workhorse.

Happy to discuss, but I do think it is nice if the function
has limited options for a novice

[2017-05-25 01:36] stephens999 commented on #70
maybe we should introduce ash_pois , ash_binom etc for ash with other (non-normal and non-t) likelihoods?
I think this could have multiple advantages.
For example it seems maybe the defaults for some parameters may differ depending on the likelihood, so it might be clearer to do things this way? Rather than forcing users into ash(...lik= lik_pois()) which is a bit weird...?

[2017-05-25 01:54] mengyin commented on #70
Introducing ash_XXX makes more sense to me. Now we have to put betahat=0 and sebetahat=1 for non-normal/t likelihoods, which seems really confusing...

[2017-05-25 13:12] pcarbo commented on #70
@stephens999 I was only suggesting we combine the help pages for `ash` and `ash.workhorse`. For example `read.table` and `read.csv` share the same help page.

But now that you have brought it up, I don't think that having a large number of arguments is an obstacle to using `ash`---so long as most input arguments have sensible defaults. Consider that functions `glm`, `read.table` and `bwplot` all h

[2017-05-25 14:30] stephens999 commented on #70
thanks @pcarbo . I agree with much of what you say. I'm happy to combine the help for ash and ash.workhorse.

I think one benefit of having `ash.pois`etc would be that the defaults would be immediately more
obvious and documented under `ash.pois`. And I agree it would call `ash.workhorse`.
But we would remove from `ash.workhorse` all those "`if(lik$name...)`" code that I find really
difficult to m

[2017-05-25 14:46] pcarbo commented on #70
@stephens999 But do we want `ash.pois` or `ash_pois`?

I did some research on this ([here](http://r-pkgs.had.co.nz/style.html), [here](https://google.github.io/styleguide/Rguide.xml), [here](https://stackoverflow.com/questions/7526467/what-does-the-dot-mean-in-r-personal-preference-naming-convention-or-more) & [here](http://r.789695.n4.nabble.com/The-use-of-period-in-function-names-and-variable-na

[2017-05-25 14:48] pcarbo opened #71 "Combine help for ash and ash.workhorse"

[2017-05-25 15:13] stephens999 commented on #70
I chose .pois to be consistent with ash.workhorse and smash.pois

I generally try to use _ but here it seems when you have "variants" of a procedure the .
notation makes some sense....

[2017-05-25 16:55] #71 closed

[2017-05-26 03:58] mengyin commented on #70
@jhsiao999 I also got the warnings "REBayes::KWDual(A, rep(1, k), normalize(w), control = list(rtol = 0.1)) : estimated mixing distribution has some negative values:consider reducing rtol"

I checked the data and not sure why the optimization procedure gave negative mixture proportions (sorry!) But in mix_opt.R, line 45-48 force the estimated mixture proportions to be positive, so I guess @stephen

[2017-05-26 14:04] pcarbo commented on #70
@mengyin @jhsiao999 Wei encountered this problem before. It is indeed strange that it occasionally generates negative mixing proportions. It should not do this. Right now we have a temporary solution (set negative proportions to 0) but perhaps in the future we will come up with a better solution.

[2017-05-26 14:12] stephens999 commented on #70
@mengyin @jhsiao999 you could try reducing rtol as it suggests (in control =list(rtol=...))

[2017-05-26 22:51] mengyin commented on #70
@pcarbo Thanks for the explanation! Maybe in this case we can use optmethod="mixEM" instead? For this example the fitted proportions of "mixIP" (after setting negative proportions to 0) and "mixEM" can be quite different, so I'm a bit worried...

@stephens999  I tried reducing rtol (even to 0.1), but it still gives the warning...

[2017-05-26 23:20] stephens999 commented on #70
@mengyin I'm not sure 0.1 is actually small (or what the default is) it was just an example. Id try 1e-8

Which method gives the higher look likelihood and how different are they?

[2017-05-26 23:20] stephens999 commented on #70
Sorry, that was loglikelihood

[2017-05-26 23:52] mengyin commented on #70
Sorry i should make rtol smaller... now I try rtol=1e-8 and even smaller values (1e-9, 1e-10...), but the results don't change. Anyway mixip's loglikelihood is still lower than that of mixem.

[1] -369.4327

[1] -372.6865

The fitted proportions are different: mixem's fitted g is very concentrated on the last third component (pi=9.999999e-01), but mixip's fitted g is more spread out.

$pi
 [1] 0.0

[2017-06-20 16:59] pcarbo opened #73 "Reduce output from tests"
The raw log is >40,000 lines long!

[2017-06-22 20:54] eacton opened #74 "Version issue with ashr_2.1-25"
Hi there,

I was looking to use vashr, but am running into a version problem with ashr and I think it was when comppostprob was changed to comp_postprob, which take different parameters. I tried to trouble-shoot a couple of things in vash.R but could you let me know for:

     postpi.se[completeobs,] = t(comppostprob(mix.fit$g,rep(numeric(0),n),sehat[completeobs],df))

What would be the equivalent

[2017-06-30 23:57] gaow opened #75 "Should we export `autoselect.mixsd`?"
Currently for `mr-ash` via `varbvs` I have to use `ashr:::autoselect.mixsd` (three `:`) because the function `autoselect.mixsd` is not exported. It is not a big deal to me but if there is no obvious harm to `ashr` perhaps we should export it to avoid the ugly `:::` syntax in other applications.

[2017-08-08 17:13] gaow commented on #55
I think the least thing we can do, in addition to the proposed ad hoc solution, is to capture this line of warning and convert it to something more informative:

[code]

Because when using `ashr` as a module (for FLASH or in DSC) it is difficult to track these weights. A message telling users that the negative values are generated yet taken care of would be reassuring.

[2017-08-08 18:10] pcarbo commented on #55
@gaow Do you have a small example using simulated data in which REBayes yields negative mixture weights? I'd like to add this as an example so we can use it later for testing.

[2017-08-08 18:11] gaow commented on #55
Ahh it is complicated ... I got this warning from FLASH on 300X300 matrix. But I can now upgrade my `ashr` and rerun and see if it works.

[2017-08-08 18:18] pcarbo commented on #55
@gaow Yes, all we need is one example from running FLASH; since FLASH runs ashr multiple times, just pick one of the iterations.

[2017-08-08 18:31] gaow commented on #55
Ok @pcarbo then here you go:

[ash-issue55.tar.gz](https://github.com/stephens999/ashr/files/1209188/ash-issue55.tar.gz)

[2017-08-08 21:09] gaow commented on #55
It works -- the new warning shows up, though the old warning is not masked (not a big deal). Thanks!

[2017-08-08 22:08] pcarbo commented on #55
@gaow Here's a simple reproducible example from the script you shared with me:

[code]

[2017-12-06 23:08] Lauren-Blake opened #76 "maxiter"
Last night when running ash, I got the following message:

warning("Optimization failed to converge. Results may be unreliable. Try increasing maxiter and rerunning.")

1) Can you please tell me what the default maxiter is so that I can increase it? Do you have any guidelines or recommendations for what I should increase maxiter to?

2) The way that I was going to enter maxiter into ash is with th

[2017-12-07 03:49] pcarbo commented on #76
@Lauren-Blake Have you installed MOSEK on your computer? What OS do you have---Mac, Windows or Linux?

[2017-12-07 03:53] jhsiao999 commented on #76
@Lauren-Blake Here is the instruction for installing MOSEK on mac. Try it and see if you still get the same errors. https://github.com/stephens999/ashr/blob/master/inst/rmosek-mac.md

[2017-12-07 04:05] pcarbo opened #77 "To do: update Rmosek installation instructions according to instructions below"
From Henrik Alsing Friberg:

You all have in common that your packages reverse import/suggest/enhance the Rmosek package, and I am sure you all know that the package hosted on CRAN is deprecated and has not been working since MOSEK v6 (~5 years ago). While MOSEK is careful about not breaking backwards compatibility unnecessarily, it may happen between major releases (in v6 to v7 it happened a few

[2017-12-07 04:07] pcarbo commented on #76
@Lauren-Blake See also Issue #77 for updated instructions. It isn't completely straightforward to install, so feel free to email separately if you get stuck.

[2017-12-08 14:16] stephens999 commented on #76
default maxiter is 5000
yes, you set it in control
but better to install RMosek

[2017-12-11 16:49] stephens999 opened #78 "bug in my_etruncnorm"
there seems to be a bug here:

[1] 5.795534

[1] 1.795534

[2017-12-11 20:47] stephens999 commented on #78
I fixed this problem but now there still seems to be a problem with infinite limits:

[1] 1.795534

[1] 0

[1] 1.795534

[2017-12-11 21:02] stephens999 commented on #78
this turned out to be a bug (or feature) of truncnorm::etruncnorm
with infinite limits when a>b

[1] NA

[1] -3.795471

[1] -3.795471

[2017-12-14 13:35] pcarbo commented on #77
*More from Henrik Alsing Friberg:* I have discovered that the Chief Scientist at RStudio, Hadley Wickham, has already come far to incorporate support for remote repositories. The plan is to finish this development in devtools (https://github.com/hadley/devtools), transfer it to remotes (https://github.com/r-lib/remotes), and hopefully get it widely accepted. As an experiment, I pushed the Rmosek p

[2017-12-17 23:18] stephens999 opened #79 "flash data penloglik not properly output if fixg=TRUE"
if you use `outputlevel=5,fixg=TRUE` the fit doesn't occur and the penloglik=NULL

[2017-12-18 15:47] #79 closed

[2018-07-25 14:41] willwerscheid opened #84 "doesn't handle zero sebetahats correctly"
For example, `ash(betahat = c(1, 2, 3, 4), sebetahat = c(0, 0, 1, 1))` gives me posterior means of zero for the first two observations.

[2018-07-25 14:45] willwerscheid commented on #84
We might want to handle infinite SEs too, possibly by throwing an error. (We can get infinite SEs in `flash`.)

[2018-09-06 16:33] stephens999 commented on #45
thanks for the bug report. So the work-around for now is to supply a single df when they are all equal. But we should fix this!

[2018-09-11 16:06] xubeisi commented on #77
https://github.com/MOSEK/Rmosek didn't seems exist anymore. devtools::install_github("MOSEK/Rmosek@8.1") also didn't worked.

[2018-09-11 16:12] pcarbo commented on #77
Sorry @xubeisi. We haven't updated these installation instructions. Go [here](https://www.mosek.com/documentation) and you will find clear installation instructions for Rmosek.

[2018-09-11 17:10] road2stat commented on #77
Maybe it's a good time to revisit the possibility of replacing MOSEK with the foss options out there, such as cvxr https://cvxr.rbind.io/. It also supports using MOSEK/Gurobi as a backend solver if needed.

[2018-09-11 17:11] pcarbo commented on #77
Thanks for the suggestion @road2stat. We already have a [better solution](https://github.com/youngseok-kim/mixsqp), actually.

[2018-09-11 17:19] road2stat commented on #77
@pcarbo -awesome! Looking forward to seeing the mixSQP solution in place.

[2018-09-11 17:28] xubeisi commented on #77
Thank you! @pcarbo it works!

[2018-10-09 17:11] pcarbo opened #87 "Fix issues with testthat tests"
Currently, `devtools::test()` returns `Error in x[[method]](...) : attempt to apply non-function`. There needs to be a `context` in every file. And we need to check for references to any non-exported symbols.

[2018-10-30 17:49] pcarbo opened #88 "Fill out roxygen2 docs for mixSQP function"
This needs to be done now that we export `mixSQP`.

[2018-11-21 19:13] willwerscheid opened #89 "estimate_mix_props should drop all-zero columns"
It's possible that we get columns of all zeros when calculating likelihood matrices (and thus -Inf in llik matrices). In the example that's throwing an error for me, the smallest mixture component (in a mixture of uniforms) is `[0, 5.80e-05]`, but the data points `x` are all around `0.15` with small standard errors, so `log_comp_dens_conv.unimix` evaluates the likelihood that they come from this c

[2018-11-21 20:53] stephens999 commented on #89
In principle I think mixsqp should deal with -inf

[2018-11-21 20:54] stephens999 commented on #89
Or zeros

[2018-11-21 20:55] stephens999 commented on #89
@willwerscheid Can you open an issue in mixsqp?

[2018-11-21 21:17] willwerscheid commented on #89
Ok, moving issue to `mixsqp` and closing.

[2018-11-25 22:18] willwerscheid commented on #89
Reopening because this causes problems for mixIP as well. I get the following warning:
[code]

[2018-12-01 19:26] willwerscheid opened #91 "Pruning g for flash"
I am not so sure that we want to prune g for flash. For one, flash doesn't use comp_postprob, etc, so there is no issue with data "lining up." More importantly, though, it makes warmstarts much less effective. If, for example, g gets pruned to a single mixture component (well, not really a mixture anymore), then it will be effectively fixed for eternity if warmstarts are used. A real example: g fo

[2018-12-01 23:30] stephens999 commented on #91
interesting... and yes, i agree in this case pruning is a problem.
Matthew

On Sat, Dec 1, 2018 at 1:26 PM Jason Willwerscheid <notifications@github.com>
wrote:

[2018-12-07 20:50] willwerscheid commented on #89
I am now thinking that we ought to improve the grid selection. We usually get columns of zeros because `autoselect.mixsd` adds very small sds (down to (`min(s) / 10`)), which doesn't work so well if say your observations are all bounded away from zero with small SEs. An easy fix would be to set `sigmamin` no smaller than `sqrt(min(x^2 - s^2))/C` (with C > 1 some constant).
This should clear up mos

[2018-12-07 20:59] willwerscheid commented on #91
Another thing I would like to have (and this is related to the problem of using `ashr` with `flashr`) is to be able to pass in a grid not as a fixed grid but as a subgrid which can be expanded if necessary. For example, we could calculate the grid as usual (using `autoselect_mixsd`) but only keep sds that are sufficiently different from from the sds in the subgrid and then combine the two sets of

[2018-12-07 22:36] pcarbo commented on #53
@stephens999 Yes, this also relates to open Issue #77. I will take care of this soon.

[2018-12-08 16:50] stephens999 commented on #89
i'm not sure that will work.

if x=0 and s=1 your formula gets sigmamin = 1/C
whereas in that can you want  a small sigmamin i think

On Fri, Dec 7, 2018 at 2:50 PM Jason Willwerscheid <notifications@github.com>
wrote:

[2018-12-08 16:57] willwerscheid commented on #89
1/C is what you get now (with C = 10). My formula gives -1/C. What do you propose?

[2018-12-08 17:39] willwerscheid commented on #89
I was just planning to use the max of sigmamin as it is currently calculated and the formula above. But I think you make a good argument for changing the former.

[2018-12-09 20:47] willwerscheid commented on #89
@stephens999
Maybe something like:
[code]

[2018-12-21 21:38] pcarbo commented on #88
Addressed by commit 6d9f9a3.

[2018-12-21 21:38] #88 closed

[2018-12-21 21:39] pcarbo commented on #66
See Issue #77 instead.

[2018-12-21 21:39] #66 closed

[2018-12-21 21:39] pcarbo commented on #41
I think we have already addressed this issue.

[2018-12-21 21:39] #41 closed

[2018-12-21 21:40] #53 closed

[2018-12-21 21:53] #77 closed

[2019-01-25 17:37] willwerscheid commented on #78
`etruncnorm` does not do well when a and/or b are far away from zero, due to the following lines:
`static R_INLINE double e_truncnorm(double a, double b, double mean, double sd) {
  /* Special case numerically instable case when (a, b) is far away from the
   * center of mass. */
  if (b < mean - 6.0 * sd || a > mean + 6.0 * sd)
    return (a + b) / 2.0;`
So, for example, `truncnorm::etruncnorm(-3

[2019-01-25 17:45] stephens999 commented on #78
Is this a recent update on etruncnorm?

On Fri, Jan 25, 2019 at 11:37 AM Jason Willwerscheid <
notifications@github.com> wrote:

[2019-01-25 17:54] willwerscheid commented on #78
No, it's been there since 2015.

[2019-02-01 15:07] willwerscheid opened #95 "Bug in autoselect.mixsd for halfuniform, halfnormal"
Try for example `ash(1:10, 1, mixcompdist = "halfnormal", grange=c(-0.1, 20))`. We set `sigmaamax = min(max(abs(grange-mode)), sigmaamax)` so both the positive and negative components of `g` are capped at 0.1. I have not yet looked carefully, but I think we can remove the handling of `grange` from `autoselect.mixsd` and let `gconstrain` take care of it.

[2019-02-01 15:13] willwerscheid commented on #95
It looks like code for `halfnormal` has not been added to `constrain_mix` yet. When updating, we should probably handle the case where `pi` is all zeros after truncating. Also I am not sure why `pi` is passed in along with `g` instead of just using `g$pi`.

[2019-02-03 19:59] #95 closed

[2019-02-03 20:00] #91 closed

[2019-02-06 18:54] agombolay opened #97 "Error when installing"
When running "install_github("stephens999/ashr")", I got the following error: clang: error: unsupported option '-fopenmp'
make: *** [RcppExports.o] Error 1
ERROR: compilation failed for package ‘mixsqp’

[2019-02-06 19:01] pcarbo commented on #97
@agombolay Do you have a Mac?

[2019-02-06 19:38] agombolay commented on #97
Yes

[2019-02-06 20:30] willwerscheid commented on #97
@agombolay I ran into a similar issue a while ago. Following @pcarbo 's notes about using the correct compliers and properly setting up your `Makevars` file resolved the issue for me. See here:
https://pcarbo.github.io/pcarbo/r-macos.html

[2019-02-06 20:37] pcarbo commented on #97
Thanks @willwerscheid.

@agombolay If that is too daunting, we hope to have ashr up and running on CRAN again soon. We will inform you when the issue is resolved.

[2019-02-11 18:50] willwerscheid commented on #76
I would like to re-open this issue because the warning message is vague and not really actionable as is. There is no `maxiter` parameter in `ashr` (nor in `mixsqp`). We should be more specific.

[2019-02-13 14:12] willwerscheid opened #98 "posterior SDs are all zero for Poisson likelihood"
I think fixing this is as simple as changing `alpha = outer(-x, m$a,FUN="+")/s` to `alpha = outer(x, -m$b,FUN="+")/s` in `comp_postmean2` (since we send `-b` and `-a` to `e2truncgamma`) but I need to check that this change wouldn't break other likelihoods.

[2019-03-01 20:17] DongyueXie opened #99 "Posterior means are negative from binomial likelihood using logit link"
Example:

`p = rbeta(100,2,2) # prior mode: 0.5`
`n = rpois(100,10)`
`y = rbinom(100,n,p) # simulate Binomial observations`
`fit=ash(rep(0,length(y)),1,lik=lik_binom(y,n,link='logit'))`
`fit$result$PosteriorMean`

Returned values are all negative.

[2019-03-02 16:41] willwerscheid commented on #89
This was fixed by PR #93

[2019-03-02 16:41] #89 closed

[2019-03-04 15:30] stephens999 commented on #99
I cannot duplicate this.
what seed do you use?
what version of ashr?

[2019-03-04 17:14] DongyueXie commented on #99
I tried different seeds but this does not really matter.
I'm usng version 2.2-7. Maybe this version is way outdated?

  [1] -0.50 -0.52 -0.52 -0.52 -0.52 -0.28 -0.52 -0.51 -0.52 -0.50 -0.52 -0.42 -0.51 -0.52 -0.52 -0.52
 [17] -0.50 -0.50 -0.37 -0.52 -0.51 -0.39 -0.51 -0.25  0.00 -0.52 -0.52 -0.52 -0.52 -0.52 -0.52 -0.50
 [33] -0.52 -0.51 -0.52 -0.46 -0.27 -0.51 -0.50 -0.46 -0.52 -0.52 -0.52 -0.51

[2019-03-04 17:20] pcarbo commented on #99
@DongyueXie Yes, it is---on CRAN it is 2.2-32. Try upgrading and see if you get the same issue.

[2019-03-04 17:26] DongyueXie commented on #99
The newest version does not have this problem. Thanks!

[2019-03-04 17:26] #99 closed

[2019-03-14 15:35] stephens999 opened #100 "example out of date"
@pcarbo

[code]

[2019-03-14 17:04] youngseok-kim commented on #100
fit.em  <- ash(betahat,sebeta,mixcompdist = "normal",optmethod = "mixEM")
fit.mixsqp  <- ash(betahat,sebeta,mixcompdist = "normal",optmethod = "mixSQP")
fit.ip  <- ash(betahat,sebeta,mixcompdist = "normal",optmethod = "mixIP")

[2019-03-14 19:31] #100 closed

[2019-03-18 14:12] willwerscheid opened #101 "mixsqp can return negative mixture proportions"
See here:
https://github.com/stephenslab/mixsqp/issues/25

If mixsqp is going to allow this then we should threshold out zeros in ashr.

[2019-03-18 15:14] pcarbo commented on #101
@willwerscheid It isn't in my immediate plan to resolve that issue, so yes, you should probably add steps in ashr to correct for this.

[2019-03-22 18:17] aksarkar opened #102 "Poisson mode estimation incorrectly handles scaling factor"
By default, the mode estimation procedure searches over the range of the observations instead of over the range of observation-specific MLEs for the Poisson rate. This leads to a much worse fit on real data.

Test case:
[code]

Test data:
https://users.rcc.uchicago.edu/~aksarkar/singlecell-ideas/test_pois_data.Rds

Test result:
[code]

[2019-03-29 01:40] aksarkar opened #103 "Mode estimation fails in utils::modifyList"
Minimal example:

[code]

Data is available here https://users.rcc.uchicago.edu/~aksarkar/singlecell-ideas/train.Rds

[2019-04-09 02:38] aksarkar opened #104 "autoselect.mixsd does not account for scale factors in Poisson data"
The relevant bit of the current implementation:

[code]

[2019-04-10 15:48] stephens999 commented on #103
#aksarkar can you try this again with recent push?

[2019-04-10 15:49] stephens999 commented on #103
Sorry closed by accident. please Close if it works!

[2019-04-10 16:28] aksarkar commented on #103
646154b did fix it.

It might be helpful to add a test case with this example dataset to make sure nothing else breaks in tricky places.

[2019-04-13 00:16] #103 closed

[2019-05-07 16:24] willwerscheid opened #105 "using numeric vector for `prior` parameter doesn't work"
Need to remove `match.arg(prior)`.

[2019-05-13 13:06] #105 closed

[2019-06-14 16:00] orangebromeliad commented on #76
I have been getting the same error code and have no idea what it means. What is Rmosek and why would this solve the problem (whatever the problem is exactly?)?

[2019-06-14 16:15] stephens999 commented on #76
some of the discussion above, including Rmosek, is now out of date and no longer relevant.

@orangebromeliad  What version of ashr are you using, and do you have mixsqp installed?

[2019-06-26 16:42] willwerscheid commented on #84
Infinite SEs also screw up the returned log likelihood.

[2019-06-27 14:03] willwerscheid commented on #43
We need much better docs for this function. I don't understand what any of the plots are doing.

[2019-06-27 14:07] willwerscheid commented on #43
It'd probably be better to make this the S3 method for the `ash` object (like `plot.lm`, which is also diagnostic) rather than a self-contained function.

[2019-06-27 14:09] willwerscheid commented on #43
If we end up doing the latter, then let's split up the main plotting function (with `x` and `g` as arguments) from the public function -- I'd like to use the plotting function in `ebnm`.

[2019-06-27 14:15] willwerscheid commented on #43
Finally: yes, `plot.ash` already exists (it plots the CDF of the fitted prior), but I think that it would be better implemented as `plot.normalmix`, `plot.unimix`, etc. (And it could be improved -- the axis labels, for one, are not very helpful.)

[2019-06-28 02:36] LSun commented on #43
Thanks @willwerscheid for pointing out the documentation. Working on that as it is part of my dissertation.
Also `plot_diagnostic` was indeed meant to be a temporary workaround. I wanted to use `plot.ashr` but it already exists. Would be great if we could make it a more generic function.

[2019-07-31 14:34] willwerscheid opened #109 "tnormalmix should be exported..."
...like the other constructors. Probably some methods too?

[2019-09-19 15:34] #102 closed

[2019-10-30 15:54] aksarkar opened #112 "ash_pois mode estimation fails on near-Poisson data"
Test data is available here https://users.rcc.uchicago.edu/~aksarkar/pois-ex2.Rds

[code]

[2019-10-30 15:58] aksarkar commented on #112
Estimating the mode assuming g is a point mass, and fixing it in ash does better:
[code]

[2019-10-30 17:35] stephens999 commented on #112
i tried this - i get different results. I will update ashr in a minute to make sure I have latest version,
but want to record this before I do.
[code]
The sessionInfo says I have:
ashr_2.2-39

[2019-10-30 17:38] stephens999 commented on #112
oh, sorry i just noticed your sessionInfo.

[2019-10-30 20:42] aksarkar commented on #112
OK, updating mixsqp fixed this example.

[2019-10-30 20:42] #112 closed

[2019-10-31 05:55] aksarkar commented on #104
This is fixed by 0f272d5f

[2019-10-31 05:55] #104 closed

[2019-11-06 17:33] tanu06 opened #113 "query regarding degrees of freedom in using ashr"
I am trying to use ashr for FDR correction of my SNP markers after doing GWAS using GRIDLMM. I have a query about using a degree of freedom.

Should my degree of freedom be a vector file with MAF of my SNPs? or is it the number of SNPs going for the FDR test or is it a number of samples I have? Any suggestions or readings will be of great help.

[2019-12-27 01:08] aksarkar opened #114 "ash_pois log link problems"
On simulated NB data
(https://users.rcc.uchicago.edu/~aksarkar/pois-mode-est.Rds), fitting with log
link gets a much worse log likelihood than with identity link.

[code]

`autoselect.mixsd` needs to be modified to handle this case. For `se_log_lam`,
I am using Taylor expansion of V[ln(\lambda + \epsilon)]. This calculation also
needs to be verified.

On real data (https://users.rcc.uchicago.edu/~

[2020-01-28 01:59] lukeholman commented on #76
Hey there,

Just an FYI that I also had this error, leading me to find this page. I got the error running `mash_1by1` in `mashr`. My naive suggestions to fix this are:

- make it a bit easier to see what the default is for maxiter in `ash`, and make it easier to adjust (e.g. by explaining how to do it under `?ash` or `?estimate_mixprop`, or by making maxiter an argument with an obvious default rat

[2020-01-31 18:17] #101 closed

[2020-02-16 21:45] nicolerg commented on #76
I also got this error using `mash_1by1`. Increasing `maxiter.sqp` to 10,000 still did not resolve the problem. Should I just keep increasing `maxiter`, or is this some indication that there's something strange about my input data? I updated the mashed data to allow for correlations.

[2020-02-17 00:58] stephens999 commented on #76
Do you have latest version of mixsqp?

On Sun, Feb 16, 2020, 15:45 Nicole Gay <notifications@github.com> wrote:

[2020-02-17 01:57] nicolerg commented on #76
Yes, I just removed and re-installed `mixsqp` to make sure.

There are a lot of missing values in my input because of genes only expressed in one of the 5 tissues included in the merged input (I'm testing logFC and corresponding stderrs from DE analyses performed independently in multiple tissues). About 1/3 of the genes have at least one NA value (35 measurements per gene). I thought this could b

[2020-02-17 15:02] stephens999 commented on #76
@nicolerg
can you  share a reproducible example and we can investigate?

[2020-02-17 19:08] nicolerg commented on #76
@stephens999 definitely! Here is my data and the code that was throwing the errors. Please let me know if anything is unclear. Thank you!
[mashr_issue76.zip](https://github.com/stephens999/ashr/files/4215719/mashr_issue76.zip)

[2020-02-17 23:39] stephens999 commented on #76
@pcarbo so one of the problems here is that
it seems to be an example where mixSQP does not converge.

I did find mixIP works.
I found that increasing iterations in mixSQP did not help, but running more
initial em iterations did help.

I wonder if, in general, we should be suggesting using more em iterations rather than increasing
the mixSQP iterations?

here is my code:

library("ashr")
load('mas

[2020-02-17 23:46] stephens999 commented on #76
@nicolerg if you try increasing number of em iterations in mixSQP this should fix the initial problem.
eg:

ashres = ash(Bhat[,i],Shat[,i],mixcompdist="normal", alpha=alpha, control=list(numiter.em=200), optmethod='mixSQP') # get ash results for first condition

[2020-02-17 23:49] stephens999 commented on #76
@nicolerg can you also try replacing the missing values as follows to see if it fixes the other problem:
...
s[is.na(e)]=10000
e[is.na(e)]= 0
....

[2020-02-18 03:04] nicolerg commented on #76
@stephens999 replacing NAs with 0 effect/large stderr and increasing `numiter.em` solved both of those problems! Thank you very much for looking into this!

[2020-02-18 14:10] stephens999 commented on #76
btw, @nicolerg why is so much of your data missing?
We are now discussing ways to deal with missing data internally and it might be useful to understand why it occurs.

[2020-02-18 14:13] pcarbo commented on #76
@stephens999 Increasing the number of EM iterations would be one solution.

I do also find that the choice of `pi_init` is often problematic,

[code]

probably because the likelihood surface can be very "flat" near this initial estimate (and explains why increasing the number of EM iterations is needed to "escape" this flat region); I have now seen several examples where convergence issues could b

[2020-02-18 14:46] stephens999 commented on #76
thanks @pcarbo I have pushed a fix to ashr to use the (1,1,1,..1) initialization for pi when using mixSQP.

@nicolerg can you try reinstalling ashr and running mash_1by1 again?

[2020-02-18 18:45] nicolerg commented on #76
@stephens999 Removing and reinstalling `ashr` with `install_github("stephens999/ashr")` optimization failed to converge with `m.1by1 = mash_1by1(data.V)` (`ashr_2.2-41`). I replaced the missing values as before.

My input data are DESeq2 logFCs and LFCstderrs from differential analysis performed independently in each of 5 bulk tissues, with gene expression (RNA-seq) at 7 time points per tissue (so

[2020-02-18 23:01] stephens999 commented on #76
@pcarbo so with the updated ash (using default mixsqp initialization and default number of em iterations i believe) the column 10 succeeds, but columns 11 and 12 seem to still fail.

eg try:
load('mashr_input_shared.RData') # e (effects), s (stderrs) (data.frames)
x = e[,12]
s = s[,12]
s = s[!is.na(x)]
x = x[!is.na(x)]

ash(x,s,mixcompdist = "normal")

[2020-02-18 23:04] stephens999 commented on #76
@nicolerg if you are comparing several measurements against a common baseline,
this induces correlations that you need to take account of... we have unpublished methods for doing this, developed by Sarah Urbut and @zouyuxin

just want to make sure you are aware of these
https://github.com/stephenslab/mashr/blob/master/vignettes/intro_mashcommonbaseline.Rmd

[2020-02-19 00:02] nicolerg commented on #76
@stephens999 thank you for pointing me to that. I think the correlation structure I have is more complex than the default behavior that the "common baseline" approach allows, but that probably means I have to think more about how to do this analysis.

I understand how the common baseline approach would be used if you had, for example, gene expression data at one pre-perturbation time point and sev

[2020-02-19 00:33] stephens999 commented on #76
Yes, perhaps better to continue by email at this point?

Matthew

On Tue, Feb 18, 2020, 18:02 Nicole Gay <notifications@github.com> wrote:

[2020-03-01 14:45] stephens999 commented on #76
i added a ... to mash_1by1 to allow users to pass control to ash.
Currently debating a more informative error message.

[2020-03-02 18:23] pcarbo commented on #76
@nicolerg @lukeholman We have made several updates to [mixsqp](https://github.com/stephenslab/mixsqp) that should help with some of the issues you have been reporting.

[2020-03-08 20:09] nicolerg commented on #76
Thank you very much for your responsiveness!

[2020-04-06 16:22] stephens999 commented on #113
df refers to if you are using a t statistic for your test rather than z scores.
Reading is: M Lu and M Stephens. Empirical Bayes estimation of normal means, accounting for uncertainty in estimated standard errors. arXiv:1901.10679

However, for GWAS the tests are usually pretty close to zscores as sample sizes are very large,
so I woudl think you do not need the df parameter.

[2020-04-06 16:22] #113 closed

[2020-04-06 16:35] stephens999 commented on #109
fixed constructor by 6da8c9241bf395c5de1d3f160ab90c22d4822706

[2020-04-06 16:40] stephens999 commented on #109
fixed with 6da8c92 and e103419

[2020-04-06 16:40] #109 closed

[2020-04-06 19:52] #27 closed

[2020-04-06 20:18] aksarkar opened #116 "Real data departs from Poisson ash fitted distribution"
See the data plotted, and some preliminary work on investigating this problem, here:

https://users.rcc.uchicago.edu/~aksarkar/singlecell-modes/gof.html#examples

The data are available at:

https://users.rcc.uchicago.edu/~aksarkar/b-cell-data.Rds

[code]

@pcarbo found Mosek sometimes fails (2/14 times) on this data set
[code]

When Mosek failed, mixsqp was able to find a solution. When Mosek did

[2020-04-08 12:10] pcarbo opened #117 "ash produces (small) negative LFSRs and svalues in a simple example"
Here is the example (data is attached):

[code]

Any thoughts about how to fix this?

Here is my sessionInfo:

[code]

[ashr_bug.RData.gz](https://github.com/stephens999/ashr/files/4450325/ashr_bug.RData.gz)

[2020-04-08 14:01] stephens999 commented on #117
i just pushed a fix

On Wed, Apr 8, 2020 at 7:10 AM Peter Carbonetto <notifications@github.com>
wrote:

[2020-04-09 11:43] pcarbo commented on #117
Okay, that works. It could be useful in some cases to (accurately) compute very small LFSRs (e.g. < 1e-16) if you want to compare with very small *p*-values, for example. I'm not sure the existing implementation allows for that. I'm going to create a separate issue as a reminder to revisit this --- if someone has time and is motivated.

[2020-04-09 11:43] #117 closed

[2020-04-09 11:45] pcarbo opened #118 "Implement more accurate computation of very small LFSRs (and LFDRs) accurately"
It could be useful in some cases to (accurately) compute very small LFSRs (e.g. < 1e-16) --- if you want to compare with very small *p*-values, for example. I'm not sure the existing implementation allows for that. (We would also need to come up with some good tests to evaluate these computations.)

[2020-04-27 23:34] willwerscheid opened #119 "implement plot method for classes normalmix, unimix, etc?"
It'd be nice to be able to plot the CDF of a mixture distribution by calling "plot" on the mixture object (i.e., `plot(g)`).

[2020-04-28 00:01] willwerscheid opened #120 ""Prior" parameter documentation needs update"
The docs claim that it defaults to "uniform". In fact it defaults to "nullbiased".

[2020-04-28 02:43] stephens999 commented on #119
Does cdf.ash help? Or you know about that already?

On Mon, Apr 27, 2020, 18:34 Jason Willwerscheid <notifications@github.com>
wrote:

[2020-04-28 17:58] willwerscheid commented on #119
I was thinking methods for the unimix and normalmix classes since we use them in other packages (ebnm, flashr, etc).

[2020-04-28 18:01] willwerscheid commented on #119
I guess we have `mixcdf` for those classes. Are you opposed to implementing `plot` on top of that?

[2020-04-28 18:03] willwerscheid opened #121 "add drop to mixcdf"
I think we should wrap the `mixcdf` results in a call to `drop` so that we return a vector rather than a 1 x k matrix.

[2020-04-28 18:40] willwerscheid commented on #119
Looks like `comp_cdf` still needs to be implemented for `unimix`

[2020-04-28 23:21] stephens999 commented on #119
it's there: comp_cdf.unimix = function(m,y,lower.tail=TRUE){
  vapply(y,stats::punif,m$a,min=m$a,max=m$b,lower.tail)
}

[2020-04-29 00:11] willwerscheid commented on #119
Oh you're right. Not sure how I missed that. I guess you can do a one-line thing like `curve(mixcdf(g, x), from = from, to = to)`, so no need for a `plot` method. I will close this issue.

[2020-04-29 00:11] #119 closed

[2020-07-25 21:21] aksarkar commented on #116
@stephens999 I ported my implementation of the GOF test to R for your convenience

[code]

[2020-07-30 14:22] aksarkar commented on #116
This example appears to violate the independence assumption on the prior made in Poisson ash.

[2020-07-30 14:22] #116 closed

[2020-08-05 17:37] rfarouni opened #123 "Negative s-values"
What causes the s-values to be negative? In the plot below I show s-values that are close to zero vs logFold change.  Is that an identifiability issue?

![image](https://user-images.githubusercontent.com/9895004/89444978-8778fd00-d720-11ea-9de1-9f472b289734.png)

Thanks in advance!

[2020-08-06 13:58] stephens999 commented on #123
this looks like numerical error due to finite precision. They are all basically 0. We should probably
do something to have these returned as 0 rather than negative, but you can treat them as 0.

[2020-08-06 14:08] rfarouni commented on #123
Thanks for the getting back to me Matthew. By the way, any downstream filtering using transformed log values will miss these hits -which happened to me initially before I examined the results in more details.

[2020-08-06 14:44] stephens999 commented on #123
hmmm - that could be true for 0s too, right?

[2020-08-06 14:52] stephens999 commented on #123
this line was intended to ensure all lfsr values are non-negative https://github.com/stephens999/ashr/blob/ce75b471379b9d7f84c2346880311c08c6e518aa/R/ash.R#L524

And this should in principle ensure the s values are non-negative (they are computed
using cumsum of sorted lfsr)

@rfarouni Are your lfsr values also negative?
Can you share a reproducible code example so we can see why this isn't workin

[2020-08-06 14:58] rfarouni commented on #123
I am using the DESeq2 function ```lfcShrink(dds, contrast = contrast, type = "ashr",  svalue = T )``` which does not return the lfsr values. As for the 0s, I never got exact zeros in the s-values so they always end up log transformed unless they are negative.

[2020-08-06 15:16] stephens999 commented on #123
oh, then can you check in DESeq2  how they compute the s values? or do they return the svalues direct from ash?

[2020-08-06 15:23] rfarouni commented on #123
This the lfcShrink code

[code]
Maybe @mikelove can comment on the code https://github.com/mikelove/DESeq2/blob/master/R/lfcShrink.R#L453

[2020-08-06 15:30] mikelove commented on #123
Right, so we are passing MLE LFC and SE from DESeq2 and then extracting the posterior mean, SD, and s-value columns.

[2020-08-06 18:33] pcarbo commented on #123
@rfarouni Do you have the latest version of `ashr` (available from GitHub)?

[2020-08-06 19:39] rfarouni commented on #123
I have version 2.2-47

[2020-08-06 19:47] stephens999 commented on #123
ok, good, that version does not have the code line that ensures they are non-negative.
Update your version from github and you should be good

[2020-08-06 19:47] #123 closed

[2020-10-09 14:47] stephens999 opened #124 "additional vignettes?"
i think we could do with some more vignettes
eg for EE vs ET and using moderated t:

https://github.com/stephenslab/ash/blob/master/analysis/CompareEEvsETmodel.Rmd
https://github.com/stephenslab/EBNM-moderated-t/blob/master/analysis/method.Rmd

[2021-04-15 15:11] msarguru opened #126 "control contains unknown parameter"
Hi Stephen,

Running the example lines for ashr using "ash" function, throws the following error. Sessioninfo below.
Planning to use ashr on GWAS summary stat.
Looking forward to hear your suggestions. Many thanks ++

[code]

[code]

[code]

[2021-04-15 15:17] pcarbo commented on #126
@msarguru Can you please try installing the latest version of mixsqp available [here](https://github.com/stephenslab/mixsqp)? Does that fix the issue?

[2021-04-20 14:18] msarguru commented on #126
@pcarbo
Thank you very much, this resolved the issue...

[2022-02-18 22:21] jakejh opened #127 "submit latest version to CRAN?"
I have an R package that I'd like to submit to CRAN and that depends on ashr 2.2-51, which is only on GitHub. Would you be willing to submit 2.2-51 to CRAN? Thanks!

[2022-02-19 16:05] pcarbo commented on #127
@jakejh Yes we can update `ashr` on CRAN. Can I ask what package this is?

[2022-02-19 18:06] jakejh commented on #127
Sweet, you sure can!

https://limorhyde2.hugheylab.org/

[2022-02-21 22:31] pcarbo commented on #127
@jakejh I've made a few small improvements to ashr. Can you please make sure that your package still works with the latest version of ashr, and if it looks okay, I will resubmit to CRAN.

[2022-02-21 23:16] jakejh commented on #127
I just checked, and it looks good on my end. `limorhyde` only uses `ashr` indirectly via `mashr`. Thanks @pcarbo!

[2022-02-22 16:13] #127 closed

[2022-03-01 00:40] suzannastep opened #128 "Negative Estimates of Second Moments"
The function `my_e2truncnorm` in `R/truncnorm.R` will sometimes return negative estimates of the second moment of the truncated standard normal distribution. I have attached two files to reproduce this error, along with the current negative second moments.

Both use mean \approx 54000, sd \approx 2.97. The first file truncates to (0,Inf), and the second file truncates to (-Inf,0). Most of the nega

[2022-03-01 00:46] suzannastep commented on #128
Code to load examples:

Code to reproduce error:

Using dput seems to have introduced some rounding that changes the output. However, this code will still produce negative second moments, so the gist of this example is unchanged. I also have the original values saved as a RDS file, but I cannot upload to github issues

[2022-03-01 03:25] stephens999 commented on #128
an even simpler version extracted from your example:
`my_e2truncnorm(0,Inf, -54793.7, 3)` gives
[1] -13.65669

Interesting it is very sensitive to the mean.
`my_e2truncnorm(0,Inf, -55000, 3)` gives
[1] 4.768372e-07

[2022-03-01 13:43] stephens999 commented on #128
this code from https://github.com/cossio/TruncatedNormal.jl/blob/3c16866c3afa3920e787513d492689e9e81192ca/src/tnmom2.jl#L66-L71 may be helpful:

Second moment of the truncated standard normal distribution.
"""
function tnmom2(a::Real, b::Real)
    #return tnmom2c(0, a, b)

    if !(a ≤ b)
        return oftype(middle(a, b), NaN)
    elseif a == b
        return middle(a, b)^2
    elseif abs(a) > a

[2022-03-03 18:12] suzannastep commented on #128
There are numerical problems here happening in the (r equivalent of) the line

 μ^2 + σ^2 * tnmom2(α, β) + 2μ * σ * tnmean(α, β)

Using the julia code,
[code]
So the final answer is exactly `0.0` . Like exactly, as in
[code]
Similarly,
[code]

This is a perfect storm for numerical problems-- differences of large numbers that are almost equal. Using the r code, we’re getting catastrophic cancellati

[2022-04-27 12:22] dariober opened #130 "ash shrinkage applied to correlation matrix"
Hi- I'd like to ask your advice on the following situation.

I computed a 32x47 matrix of Pearson correlation coefficients and now I would like to apply shrinkage to these coefficients. If it matters, the histogram of coefficients is here:

![image](https://user-images.githubusercontent.com/6883382/165507003-425a8e03-eac2-48d9-88e5-b5467162c74b.png)

For each coefficient I calculated the standard

[2022-04-27 12:47] willwerscheid commented on #130
Hi @dariober ! This is more or less the idea implemented in Kushal Dey's CorShrink package, which is described here: https://www.biorxiv.org/content/10.1101/368316v2. Please have a look and let us know your thoughts!

[2022-04-27 13:35] stephens999 commented on #130
can i ask why it is a "matrix" of correlation coefficients? It suggests some additional structure that maybe could
be exploited by `mashr` (Urbut et al, 2019)?

[2022-04-27 13:56] dariober commented on #130
@willwerscheid, @stephens999 thanks a lot guys it looks like I was going to reinvent the wheel and I feel a bit overwhelmed by  options now!

Here's more detail: For each of N=27 patients I have gene expression for 32 biomarkers and 47 genes. For each combination of biomarker and gene I calculate the correlation coefficient. So the matrix has dimensions 32 x 47 and each cell is the correlation. Al

[2022-04-27 14:26] stephens999 commented on #130
ok, yes, i would start by applying the corshrink approach to each vector (formed from the matrix for each tissue ) in turn.

it could be interesting to look for patterns of "sharing" of effects across the biomarkers, but with data on only 47 genes that could be difficult to get reliable estimates....

If the biomarkers and/or genes are highly correlated with one another you might need to be carefu

[2022-04-28 14:59] dariober commented on #130
Hello again - I experimented with the various options and here's what I got. This is considering only tissue "BM", roughly the same applies to PBMC.

Applying `CorShrink::CorShrinkVector` to the single vector of 1504 correlations results in *all* of the shrunk correlations to be 0. On the hand, this is not terribly surprising given that all raw correlations are between the narrow range -0.6 and +0

[2022-04-28 22:09] stephens999 commented on #130
interesting.

I looked a bit more at the issue of Fisher-converged or raw correlations.
The issue is that the standard deviation of the correlation coefficient [(1-cor^2)/sqrt((N-2))](https://en.wikipedia.org/wiki/Pearson_correlation_coefficient#Standard_error)
depends on the true correlation, which of course
is unknown. And if the true correlation is null then plugging in the empirical correlatio

[2022-04-29 08:44] dariober commented on #130
Thanks @stephens999 your explanation makes sense.

Now, my next step would be to apply some clustering and heatmap plotting to the correlation matrix to see if there are patterns of co-variation between genes and biomarkers. It's an approach that I don't particularly endorse since it makes it very easy to overinterpret streaks originating from random noise, anyway... I was hoping to get more meani

[2022-05-04 11:01] frederikziebell opened #131 "Many warnings of singular system in R 4.2"
As of R4.2, the following code
[code]
results in many warnings like these:
`warning: solve(): system is singular (rcond: 2.12669e-17); attempting approx solution`.

[2022-05-04 13:13] pcarbo commented on #131
@frederikziebell Thanks for reporting this. This is actually a problem with mixsqp. Can you please try installing the new [mixsqp](https://github.com/stephenslab/mixsqp) and let me know if the warnings go away?

[2022-05-05 14:12] frederikziebell commented on #131
This is working without warnings, thanks!

[2022-05-05 14:33] #131 closed

[2022-05-06 10:07] frederikziebell opened #132 "Add testing against an interval of beta values"
It would be useful to be able to test against an interval of beta values and compute FSOS and svalues in a similar fasion to the [apeglm](https://bioconductor.org/packages/release/bioc/html/apeglm.html) package.

In my application there are many samples but few samples per condition, which is why I need to moderate fold-changes but simultaneously filter for biologically relevant effect sizes.

[2022-05-11 13:59] stephens999 commented on #132
you can get credible intervals using `ashci`
It can be slow but should give you the ability to test against any interval
(eg reject if the ci does not overlap the interval)

(For faster computation you can use the approximation posterior mean +- 2
posterior_sd for a 95% CI. It is only an approximation
but may be good enough for many purposes.)

Matthew

On Fri, May 6, 2022 at 5:07 AM Frederik Zieb

[2022-05-12 06:46] frederikziebell opened #133 "Error if trace = TRUE in ashci"
This
[code]
gives an error
[code]
which does not appear, if `trace = FALSE` is set

[2022-05-12 08:43] frederikziebell commented on #132
Thank you, that is really helpful! For my application, `ashci` is really quick. Just to make sure my reasoning is correct: I could even compute a local false sign or small rate by optimizing the level of the CI such that the CI touches the test interval?

[2022-05-12 11:51] stephens999 commented on #132
yes, you could do that.
However,  better to compute the posterior cdf directly at each end of the
test interval.
see ?ashr::cdf_post to get the posterior cdf

On Thu, May 12, 2022 at 3:44 AM Frederik Ziebell ***@***.***>
wrote:

[2022-05-12 12:34] pcarbo commented on #133
@frederikziebell I could not reproduce your error. Which version of the ashr package are you using? Maybe try with `library(ashr)` rather than, say, loading the package with `devtools::load_all()`?

[2022-05-12 22:50] stephens999 commented on #133
this appears to be due to a breaking change in R v 4.1.0 which
had the following change:

This lead to breaking of the ashr `tic` and `toc` functions.
I've replaced these functions with the latest commit

[2022-05-12 22:50] stephens999 commented on #133
fixed with 9c5a495

[2022-05-12 22:50] #133 closed

[2022-06-10 20:57] mikelove commented on #132
Thanks @frederikziebell and @stephens999 I'll look into adding this to DESeq2 in this devel cycle.

[2022-08-25 10:15] william-denault opened #134 "postsd much slower than postmean"
Hello,

I was profiling some code, and I noticed that postsd was much slower than postmean (for normal mixture), which seems strange, given how these quantities are computed.
Please find a minimal example below:

`library(ashr)
library(microbenchmark)

Bhat <- rnorm(10000)
Shat <- runif(10000)
out <- ash(Bhat,Shat, mixcompdist="normal")

Bhat <- rnorm(10000)
Shat <- runif(10000)
m <- set_data(Bhat

[2022-08-25 12:37] pcarbo commented on #134
@william-denault Could you please share your benchmarking results?

[2022-08-25 16:42] william-denault commented on #134
expr                    min           lq       mean    median           uq        max    neval
 postmean 102.7708 113.6098 134.5917 117.8156 130.2786 294.1863   100
   postsd    225.2152 238.8804 277.1865 252.2738 325.9447 420.9524   100

[2022-08-25 16:47] pcarbo commented on #134
Yes, indeed it is about 2–3x slower. I don't see that as being a big problem, do you? Were there other settings where the difference in runtime was much larger?

[2022-08-25 18:07] william-denault commented on #134
I was profiliung fsusie, which uses these two functions a lot at every loop (2^S x number of covariates) so I just thought that could be place to gain speed (I will have a look at the counterpart of postsd and postmean in ebnm as Matthew suggested to me).

[2022-08-25 18:12] pcarbo commented on #134
Okay, let us know what you find out.

[2022-08-28 19:28] william-denault commented on #134
I have run some benchmark comparison and ebnm is actually 1.5 slower than ash when computing posterior quantities. I see the same pattern (posterior sd computation being slower than posterior mean). Furthermore it is seems that running ash with outputlevel= 0 is almost as fast as  ebnm using prior_family_family="normal_scale_mixture".  To be fair ebnm uses more component than ash.

[2022-08-29 11:50] pcarbo commented on #134
That's help to know, thanks William!

[2022-09-05 08:44] mwslawinska opened #135 "Many warnings of singular system in R 4.2, mixsqp_0.3-47"
Hi,
I'm getting the same issue as reported in https://github.com/stephens999/ashr/issues/131#issue-1225218103. I updated mixsqp, but the issue persists. Thanks for help!

R version 4.2.0 (2022-04-22)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Debian GNU/Linux 9 (stretch)

Matrix products: default
BLAS:   /opt/share/software/packages/R-4.2.0-debian-9/lib/R/lib/libRblas.so
LAPACK: /opt/sh

[2022-09-06 08:11] mwslawinska commented on #135
@pcarbo, sure, e.g. the code in https://github.com/stephens999/ashr/issues/131#issue-1225218103 gives me this issue:
[code]

[2022-09-13 18:13] pcarbo commented on #135
Which version of `RcppArmadillo` do you have?

[2022-09-18 17:01] mwslawinska commented on #135
I updated it to RcppArmadillo_0.11.2.4.0 and I don't get the warnings anymore, thanks a lot!

[2022-09-19 02:54] #135 closed

[2022-10-27 02:03] eweine opened #136 "Default Prior is Described Incorrectly in Documentation"
In the documentation for `ash` the entry for prior indicates that it defaults to the uniform. However, I was suspicious of this because the first entry in the default parameters list is `"nullbiased"`. Indeed, I confirmed that `nullbiased` is actually the prior. This can be seen with the code below:

[code]

[2022-10-27 16:27] #136 closed

[2022-10-27 16:33] pcarbo commented on #136
The convention in R is that the default is the first setting in the list, so we don't actually need to say explicitly:

[code]